<!DOCTYPE html>
<html>
  <head>
    <title>gif-goldblum</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <div ng-app="gifGoldblum">
      <nav ng-controller="MainCtrl" class="navbar navbar-default">
        <form ng-submit="submitUrl()" class="col-sm-12">
          <div class="row">
            <div class="form-group">
              <label for="lgFormGroupInput" class="navbar-brand">Website</label>
              <div class="col-sm-8">
                <input type="text" ng-model="url" class="input-lg col-sm-12" id="lgFormGroupInput" placeholder="reddit.com">
              </div>
              <div class="col-sm-2">
                <button class="btn btn-primary" ng-click="submitUrl()">Jeff<img class="small-button-img"src='./img/jeff-goldblum.png'/>Gif-Ify</button>
              </div>
            </div>
          </form>
        </div>
      </nav>


      <div class="container">
        <div ng-view></div>
      </div>
    </div>
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/angular-route/angular-route.min.js"></script>
    <script src="/app/app.js"></script>
  </body>
</html>
