<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <img class="main-jeff" src="img/main-jeff.png" />
    </div>
    <div class="col-sm-9">
      <h1>I've Taken Over </h1>
      <h4> The <strike>worst</strike> best idea in the long, sad history of <strike>bad</strike> good ideas.</h4>
      <p>
        It's a simple thing. You type in a web address in the navigation bar, and you'll see your desired site with all the images replaced with gifs of Jeff Goldblum.
        <strong>But you'll find very quickly that you need it in your life.</strong>
      </p>

      <blockquote>
        I never knew that I needed this until I heard it existed.
        <br />
        <em>-Stranger from the Internet</em>
      </blockquote>
    </div>
  </div>
</div>

<input disabled class="greeting input-lg col-sm-12 disabled"></input>
