<nav class="navbar navbar-light bg-faded row">
  <form ng-submit=submitUrl()>
    <div class="form-group">
      <label for="lgFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">Website</label>
      <div class="col-sm-8">
        <input type="text" ng-model="url" class="form-control form-control-lg" id="lgFormGroupInput" placeholder="reddit.com">
      </div>
    </div>
    <button class="btn btn-primary col-sm-8" ng-click="submitUrl()">Jeff<img class="small-button-img"src='./img/jeff-goldblum.png'/>Gif-Ify</button>
  </form>
</nav>
