<nav ng-controller="MainCtrl" class="navbar navbar-light bg-faded row">
  <div class="col-sm-10">
    <form ng-submit="submitUrl()" >
      <div>
        <label for="lgFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">Website</label>
        <div class="col-sm-8">
          <input type="text" ng-model="url" class="form-control form-control-lg" id="lgFormGroupInput" placeholder="reddit.com">
        </div>
      </div>
      <div class="col-sm-2"
        <button class="btn btn-primary" ng-click="submitUrl()">Jeff<img class="small-button-img"src='./img/jeff-goldblum.png'/>Gif-Ify</button>
      </div>
    </form>
  </div>

</nav>
